# 飞书 API 凭证
FEISHU_APP_ID=cli_xxxxxxxxxxxxx
FEISHU_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 飞书表格 ID（产业快讯）
NEWS_SHEET_TOKEN=JtEFsWqVRhPyPetC7Jyc19Oongt
NEWS_SHEET_ID=b6daf2

# 飞书表格 ID（物业数据）
PROPERTY_SHEET=X1jRs1PhLhR8WetSwktcM9Fgnhg
PROPERTY_BUILDING_SHEET_ID=4hdJSh

# 飞书表格 ID（政策数据）
POLICY_SHEET=DwqqsS6TShlGhAteDf3cHRwvnHe
POLICY_SHEET_ID=0aad30
